[submodule "external-references/wgpu"]
	path = external-references/wgpu
	url = https://github.com/gfx-rs/wgpu
[submodule "external-references/librashader"]
	path = external-references/librashader
	url = https://github.com/SnowflakePowered/librashader
[submodule "external-references/winit"]
	path = external-references/winit
	url = https://github.com/rust-windowing/winit
[submodule "external-references/aseprite"]
	path = external-references/aseprite
	url = https://github.com/aseprite/aseprite
